ul{
    margin: auto;
    text-align: center;
}

li{
    padding: 2%;
}

h1{
    min-width: 300px;
}

p{
    padding-bottom:  3%;
}

img{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
}

a{
    align-content: center;
}


