ul{
    margin: auto;
    text-align: center;
}

li{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

h1{
    min-width: 300px;
}

p{
    padding-bottom:  3%;
}

img{
    height: 75px;
}

.container{
     flex-direction: row;
     margin-left: 20%;
     
}


a{
    align-content: center;
}


