ul{
    margin: auto;
    text-align: center;
}

li{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

h1{
    min-width: 300px;
}

p{
    padding-bottom:  3%;
}

img{
    height: 75px;
    margin: 3%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: var(--light-purple);
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


a{
    align-content: center;
}

article{
    border: none;
}

