/*
colors to choose from
#ffff00,#b3b300,#ffffbf,#aa00ff,#7700b3
*/

@font-face {
    font-family: Stick No Bills;
    src: url('../CSS/Fonts/Stick_No_Bills/StickNoBills-VariableFont_wght.ttf');
}

body{
    background-color: #ffffbf;
}

h1, h2, h3, h4, h5, h6{
    font-family: Stick No Bills;
    color: #7700b3;
    text-align: center;
}

h1{
    font-size: 6em;
    margin: 0 10%;
}

article{
    border: #b3b300 solid 2px;
    background-color: #aa00ff;
    min-width: 300px;
    width: auto;
    
}

article > *{
    color: #ffff00;
}

h2{
    font-size: 5em;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
    margin-left: 10%;
}

li{
    font-weight: bold;
}

li > ul{
    text-align: left;
    margin-left: 10%;
}

li > ul > li{
    padding: 1%;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    font-weight: bold;
    color: #ffff00;
}

.innerList{
    list-style: inside disc;
}

div{
    margin-bottom: 5em;
    background-color: #b3b300;
    height: 800px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7700b3;
    color: #ffffbf;
    text-align: center;
    height: 4em;
}

footer li{
    padding: 0;
    margin: 0;
    text-align: left;
}

table{
    border: #b3b300 solid 3px;
    color: #ffff00;
    text-align: center;
    align-self: center;
    background-color: #aa00ff;
    margin-bottom: 5%;
}

th{
    font-weight: bolder;
    font-size: 2em;
    border: #b3b300 solid 1px;;
    border-collapse: collapse;
    text-align: center;
    word-wrap: normal;

}

td{
    margin: 0;
    border: #b3b300 solid 1px;
    border-collapse: collapse;
    font-size: 1em;
    font-weight: bold;
}
