/*
colors to choose from
#ffff00,#b3b300,#ffffbf,#aa00ff,#7700b3
*/
:root,
:root.light {
    --bg-color: #ffffbf;
    --dark-border: #b3b300;
    --lg-text: #7700b3;
    --light-purple: #aa00ff;
    --bright-yellow: #ffff00;
}



@font-face {
    font-family: Stick No Bills;
    src: url('../CSS/Fonts/Stick_No_Bills/StickNoBills-VariableFont_wght.ttf');
}

body{
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: Stick No Bills;
    color: var(--lg-text);
    text-align: center;
}

h1{
    font-size: 6em;
    margin: 0 10%;
}

article{
    border: solid 2px;
    border-color: var(--dark-border);
    background-color: var(--light-purple);
    min-width: 300px;
    width: auto;
    
}

article > *{
    color: var(--bright-yellow);
}

h2{
    font-size: 5em;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
    margin-left: 10%;
}

li{
    font-weight: bold;
}

li > ul{
    text-align: left;
    margin-left: 10%;
}

li > ul > li{
    padding: 1%;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    font-weight: bold;
    color: var(--bright-yellow);
}

.innerList{
    list-style: inside disc;
}

div{
    margin-bottom: 5em;
    background-color: var(--dark-border);
    height: 800px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--lg-text);
    color: var(--bg-color);
    text-align: center;
    height: 4em;
}

footer li{
    padding: 0;
    margin: 0;
    text-align: left;
}

table{
    border: solid 3px;
    border-color: var(--dark-border);
    color: var(--bright-yellow);
    text-align: center;
    align-self: center;
    background-color: var(--light-purple);
    margin-bottom: 5%;
}

th{
    font-weight: bolder;
    font-size: 2em;
    border: solid 1px;
    border-color: var(--dark-border);
    border-collapse: collapse;
    text-align: center;
    word-wrap: normal;

}

td{
    margin: 0;
    border: solid 1px;
    border-color: var(--dark-border);
    border-collapse: collapse;
    font-size: 1em;
    font-weight: bold;
}
